<div class="container">
	<h2>Search Nouns and Verbs</h2>
	<%= form_tag do %>
	  <%= text_field_tag "search", nil, placeholder: "Search", autocomplete: :off %>
	<% end %>

</div>
	<a href="http://josephndungu.com/tutorials/fast-autocomplete-search-terms-rails" style="margin-top: 50px; font-size: 30px;">Tutorial Link</a>
